html {
  font-size: 62.5%;
  height: 100%;
} /* Sets the default size so you can use ems and rems */

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline;
}

a, a:hover {
  text-decoration: none;
}

/* BOOTSTRAP OVER-RIDES */
.container {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
  background-color: white;
}

.searchFormContainer-Outter {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background-image: url("../images/background.jpg");
  background-size:     cover;                    
  background-repeat:   no-repeat;
  background-position: center center;   
}



/* ***** ***** ***** ***** ***** SEARCH FORM ***** ***** ***** ***** ***** ***** */
.searchFormContainer-Inner {
  position: relative;
  width: 100%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  z-index: 1;
 
  background: rgba(129,28,62,1);
  background: -moz-linear-gradient(-45deg, rgba(129,28,62,1) 0%, rgba(181,38,57,0.85) 24%, rgba(214,74,61,0.7) 47%, rgba(235,97,63,0.78) 62%, rgba(153,33,59,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(129,28,62,1)), color-stop(24%, rgba(181,38,57,0.85)), color-stop(47%, rgba(214,74,61,0.7)), color-stop(62%, rgba(235,97,63,0.78)), color-stop(100%, rgba(153,33,59,1)));
  background: -webkit-linear-gradient(-45deg, rgba(129,28,62,1) 0%, rgba(181,38,57,0.85) 24%, rgba(214,74,61,0.7) 47%, rgba(235,97,63,0.78) 62%, rgba(153,33,59,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(129,28,62,1) 0%, rgba(181,38,57,0.85) 24%, rgba(214,74,61,0.7) 47%, rgba(235,97,63,0.78) 62%, rgba(153,33,59,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(129,28,62,1) 0%, rgba(181,38,57,0.85) 24%, rgba(214,74,61,0.7) 47%, rgba(235,97,63,0.78) 62%, rgba(153,33,59,1) 100%);
  background: linear-gradient(135deg, rgba(129,28,62,1) 0%, rgba(181,38,57,0.85) 24%, rgba(214,74,61,0.7) 47%, rgba(235,97,63,0.78) 62%, rgba(153,33,59,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#811c3e', endColorstr='#99213b', GradientType=1 );
}

.form-group{
  padding: 1em;
}

.formIcon {
font-size: 8em;
color: white;
}
.titleText{
  color: white;
  font-size: 5em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-align: center;
  padding-bottom: 1em;
  padding-top: 3em;
}

.form-group{
  margin-left: auto;
  margin-right: auto;
}

.searchBar{
  position: relative;
  width: 100%;
  height: 5em;
  margin-left: auto;
  margin-right: auto;
}
.textSearchBox{
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  font-size: 2em;
  padding: 1.5em;
  border-radius: 2.5em;
  background-color: rgba(246, 233, 255, .85);
}

.textSearchBox:focus{
  color: #222;
  background-color: white;
  -webkit-box-shadow: 6px 6px 15px 0px rgba(50, 50, 50, 0.40);
  -moz-box-shadow:    6px 6px 15px 0px rgba(50, 50, 50, 0.40);
  box-shadow:         6px 6px 15px 0px rgba(50, 50, 50, 0.40);
}

.searchButton {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  font-size: 2.5em;
  color: white;
  padding: .5em;
  margin: .2em;
  background-color: rgba(113,0,133,1);
  border-radius: 2.5em;
  border: 2px #ddd solid;
}

.datePickerContainer{
  padding-bottom: 8em;
}

/* ***** ***** ***** ***** ***** WEATHER BOX ***** ***** ***** ***** ***** ***** */
.weatherBoxTint{
  background-color: rgba(50, 50, 50, 0.40);
  width: 100%;
  margin: 0;
  padding: 0;
}

.weatherBoxContainer {
  color: white;
}


.givenDatesWeatherRow {
  background-color: red;
}

.col-center {
  float: none;
  margin: 0 auto;
}

/* ***** ***** ***** ***** ***** EVENT LIST ***** ***** ***** ***** ***** ***** */

.eventListContainer{
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 1em 1em 3em 1em;
}

.listPageTitle{
  font-size: 3em;
  text-align: center;
  padding: 1em;
}

.eventCard{
  width: 60%;
  padding: 1.5em 1.5em 0 1.5em;
  font-size: 1.2em;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1em;
  background-color: white;
  border: 0;
  -webkit-box-shadow: 4px 4px 10px 0px rgba(30, 30, 30, 0.1);
  -moz-box-shadow:    4px 4px 10px 0px rgba(30, 30, 30, 0.1);
  box-shadow:         4px 4px 10px 0px rgba(30, 30, 30, 0.1);
}

.eventCard:hover{
  -webkit-box-shadow: 6px 6px 15px 0px rgba(50, 50, 50, 0.23);
  -moz-box-shadow:    6px 6px 15px 0px rgba(50, 50, 50, 0.23);
  box-shadow:         6px 6px 15px 0px rgba(50, 50, 50, 0.23);
}

.eventName {
  font-size: 1.8em;
}

.eventAddress .eventVenue {
  margin-bottom: .75em;
  background-color: red;
}

.eventURL{
  border-top: solid 1px #ddd;
  text-align: center;
  padding: 1em;
  color: #333;
}

.eventURL:hover{
  background-color: #eee;
}

/** ** EVENT LIST LOADER ** **/


.graydient {
  margin-left: 1.5em;
  margin-bottom: .7em;
  border-radius: .2em;
  height: 1.5em;
  
  background: linear-gradient(158deg, #b4b4b4, #dfdfdf);
  background-size: 400% 400%;
  
  -webkit-animation: graydient-animation 2s ease infinite;
  -moz-animation: graydient-animation 2s ease infinite;
  animation: graydient-animation 2s ease infinite;
}
  
  @-webkit-keyframes graydient-animation {
      0%{background-position:0% 49%}
      50%{background-position:100% 52%}
      100%{background-position:0% 49%}
  }
  @-moz-keyframes graydient-animation {
      0%{background-position:0% 49%}
      50%{background-position:100% 52%}
      100%{background-position:0% 49%}
  }
  @keyframes graydient-animation {
      0%{background-position:0% 49%}
      50%{background-position:100% 52%}
      100%{background-position:0% 49%}
  }

.loaderBox1 {
 height: 1.8em; 
}

.loaderBox3{
  margin-bottom: 2.5em;
}




/** ** ** FOOTER ** ** **/
.footer{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background-color: #222;
  padding-top: 2.5em;
  padding-bottom: 3em;
}

.innerFooter{
  font-family: 'Montserrat', sans-serif;
  width: 80%;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  color: #aaa;
}

.innerFooter p {
  font-size: 1.2em;
}

.innerFooter a {
  color: #aaa;
}

.footerNavTab-btn:hover {
  color: white;
}
#currentWeatherBox {
  float: right;
  top: 0;
  right: 0;
  z-index: 3;
}
img {
  height: 70px;
  width: 70px;
}
.col-lg-6 {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: white;
}
.icon {
  display: center;
  padding: 20px;
  width: 100px;
  height:100px;
  
}
#theImage {
  margin-right: 60px;
}
.dayData {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  color: white;
}
@media only screen and (max-width: 1000px) {
  .eventCard{
    width: 80%;
  }
}

@media only screen and (max-width: 400px) {
  .eventCard{
    width: 100%;
  }
}